body {
    margin: 20px;
    background-color: black;
    color: white;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header{
    text-align: center;
    width: 100%;
}

.img-circle{
    clip-path: circle(50px at center);
}

.gallery-container {
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    padding: 0 20px;
}

.gallery {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
   
    gap: 10px; /* Set the gap between images */
}

.image {
    width: calc(100%); /* 50% width for 2 items in a row with gap of 10px */
}

@media screen and (max-width: 768px) {
    .image {
    width: calc(50% - 10px); /* 50% width for 2 items in a row with gap of 10px */
    }
}

