body {
    justify-content: center;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color:darkgray;
    text-decoration: none;
}

.header{
    text-align: center;
    width: 100%;
}

.img-circle{
    clip-path: circle(50px at center);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .header {
    text-align: center;
    padding: 20px;
  }

  .header img {
    max-width: 100%;
    height: auto;
  }

  .post-container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .post-container h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
  }

  .post-container img {
    max-width: 100%;
    height: auto;
  }

  .post-container p {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
      .post-container {
       width: 80%;
       padding: 10px;
   }
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .post-thumbnail img {
    max-width: 90%;
    height: auto;
}